.container {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(185, 185, 185);
    color: black;
    padding: 20px;
    width: 100%;
}

body {
    background-color: rgb(240, 240, 240);
    color: rgb(58, 58, 58);
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

h1, h4 {
    margin: 10px 0 20px;
    text-align: center;
}

.password-container {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 12px 10px;
    margin: 5px;
    width: 100%;
    border: solid black 1px;
}

.characters {
    margin-right: 0;
}

.password-container #result {
    word-wrap: break-word;
}

.characters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}


/* Make sure to apply styling including a box, horizontal lines to separate inner password-generate box, and button styling */