.container {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(240, 240, 240);
    color: black;
    padding: 20px;
    width: 100%;
}

/* Make sure to apply styling including a box, horizontal lines to separate inner password-generate box, and button styling */